{% extends 'layout.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}
<title>Contact Us</title>
{% endblock%}

{% block main_content %}
<style>
    .contact{
        background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../static/images/background/mainpage/contact.png) no-repeat fixed;
        font-family: 'Poppins';"
    }

    .myForm label.control-label, .myForm div{
         width:100%;
    }





</style>
<section class="contact container-fluid p-5 text-white">
    <h1 class="text-center pb-3 display-1 pt-5" data-aos="fade-up" data-aos-duration="2000">Contact Us</h1>
    <div>
        <div class="row m-3 p-5" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-sm-8 border border-2">
                {% include 'messages.html' %}
                <div class="contact-form">
                    <h2 class="title text-center">Feel Free To Give Feedback</h2>
                    <form id="main-contact-form" class="contact-form  myForm" name="contact-form" method="post">
                        {% csrf_token %}
                        {{ form_feedback | bootstrap_horizontal }}
                        <button type="submit" class="btn btn-primary mt-1">Send</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info border m-3">
                    <h2 class="title text-center" data-aos="fade-up" data-aos-duration="2000">Contact Info</h2>
                    <address class="text-center lead">
                        <p data-aos="fade-up" data-aos-duration="2000">Neeru Pasal</p>
                        <p data-aos="fade-up" data-aos-duration="2000">Jomsom Airport, Mutang, Nepal</p>
                        <p data-aos="fade-up" data-aos-duration="2000">Mobile: +977-9808792437</p>
                        <p data-aos="fade-up" data-aos-duration="2000">Email: Karma1661@gmail.com</p>
                    </address>
                    <div class="social-networks border border-dark m-3 text-center">
                        <h2 class="title text-center" data-aos="fade-up" data-aos-duration="2000">Our Social Page</h2>
                        <a type="button" class="btn btn-floating btn-light btn-lg" data-aos="fade-up"
                           data-aos-duration="2000"><i class="fab fa-facebook-f"></i></a>
                        <!-- Instagram -->
                        <a type="button" class="btn btn-floating btn-light btn-lg" data-aos="fade-up"
                           data-aos-duration="2000"><i class="fab fa-instagram"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn btn-floating btn-light btn-lg" data-aos="fade-up"
                           data-aos-duration="2000"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-sm-12 contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d849.3343148906115!2d83.72339933730586!3d28.78263763128587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39be0e5efa4779fb%3A0x42fc31883a11e2f5!2sJomsom%20Airport!5e0!3m2!1sen!2snp!4v1644206716237!5m2!1sen!2snp"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

    </div>
</section>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter FirstName"
    form_fields[2].placeholder = "Enter LastName"
    form_fields[3].placeholder = "Enter Email"
    form_fields[4].placeholder = "Enter Subject"

    for(field in form_fields){
        form_fields[field].className += ' my-3'
    }
</script>
{% endblock %}

