{% extends 'layout-admin.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
<title>Update Product List</title>
{% endblock%}
{% block main_content %}
<style>
    h1{
        font-family: 'Poppins', sans-serif;
    }
    span.help-block{color:red;}

    .myForm label.control-label, .myForm div{
         width:100%;
    }

</style>

<div class="container mt-5" style="min-height:65vh; font-family: Poppins,sans-serif">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1 class="text-center mb-3">Update Product List Form</h1>
            {% include 'messages.html' %}
            <div class="card py-2 px-2">
                <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ product_list_form | bootstrap_horizontal}}
                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter Product List Name"
    form_fields[2].placeholder = "Enter Product Price"

    for(field in form_fields){
        form_fields[field].className += ' my-3'
    }


</script>
{% endblock %}