{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% block title %}
<title>Update Gallery</title>
{% endblock%}

{% block main_content %}
<div class="container mt-5" style="min-height:100vh; font-family: Poppins,sans-serif">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1 class="text-center">Update Gallery</h1>
            <div class="card py-2 px-2">
                <form class="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ file_form | bootstrap_horizontal}}
                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}