{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Change Passsword</title>
{% endblock%}
{% block main_content %}

<style>
    .myForm label.control-label, .myForm div{
         width:100%;

    }
    .password{
        font-family: 'Poppins', sans-serif;
        background: url(../static/images/background/mainpage/about_bg3.jpg) no-repeat center;
    }
    .help-block{
        color:red;
        font-size:14px;
    }
    .myForm ul li{font-size:12px;}
</style>

<div class="password container-fluid mt-5 bg-transparent text-white">
<div class="row mt-5">
    <h1 class="text-center text-dark mt-5" data-aos="zoom-in" data-aos-duration="2000">Change Password</h1>
    <div class="col-md-6 offset-md-3 mt-2 border border-dark border-5">
        <div class="card py-2 px-2 bg-transparent text-dark border-0 ">
        <form class="form myForm m-5" data-aos="fade-up" data-aos-duration="2000" action="" method="POST">
            {% csrf_token %}
            {{ password_change_form | bootstrap_horizontal}}
            <button type="submit" class="btn btn-outline-light border-dark text-dark mt-3">Submit</button>
        </form>
    </div>
    </div>
</div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter Old Password"
    form_fields[2].placeholder = "Enter New Password"
    form_fields[3].placeholder = "Confirm New Password"

    for(field in form_fields){
        form_fields[field].className += ' my-3'
    }

</script>
{% endblock %}