{% load static %}
<div class="container-fluid p-0">
    <footer class="text-white text-center text-lg-start " style="background:#F7931E ">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0 p-4">
                    <a href="#" class="img-fluid text-decoration-none text-white fs-3 " ><img
                            src="{% static 'images/background/logo/log1.png' %}" alt="logo">Neeru Pasal</a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 p-4">
                    <h5 class="text-uppercase mb-4 pb-1">Contact</h5>

                    <ul class="fa-ul" style="">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Jomsom Airport, Mustang, Nepal</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">NeeruPasal7@gmail.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span
                                class="ms-2">+977-9808792437</span>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0 p-4">
                    <h5 class="text-uppercase mb-4">Our Social Page</h5>
                    <div class="mt-4">
                        <!-- Facebook -->
                        <a type="button" href="" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
                        <!-- Instagram -->
                        <a type="button" href="" class="btn btn-floating btn-light btn-lg"><i class="fab fa-instagram"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
                        <!-- Linkedin -->
                    </div>
                </div>
<!--                Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright ©2022 All rights reserved | This website is owned by Neeru Pasal
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->