<a class="btn btn-primary m-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
   aria-controls="offcanvasExample" style="font-family: Poppins,sans-serif">
    Menu
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" style="font-family: Poppins,sans-serif;">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin Dashboard</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="font-family: Poppins,sans-serif;">
        <ul class="list-unstyled">
            <li><a class="dropdown-item" href="/admins">Admin Dashboard</a></li>
            <li><a class="dropdown-item" href="/homepages/get_product_category">Product Category</a></li>
            <li><a class="dropdown-item" href="/homepages/get_product_list">Product List</a></li>
            <li><a class="dropdown-item" href="/homepages/gallery_modelform">Gallery</a></li>
            <li><a class="dropdown-item" href="/homepages/get_feedback">Contact</a></li>
            <li><a class="dropdown-item" href="/homepages/get_order">Orders</a></li>
            <li><a class="dropdown-item" href="/admins/users">Users</a></li>
            <li><a class="dropdown-item" href="/admins/admins">Admins</a></li>
            <li><a class="dropdown-item btn btn-sm btn-danger" href="/logout">Logout</a></li>
        </ul>
    </div>
</div>